*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins","Segoe UI",sans-serif;

}



body{


min-height:100vh;


display:flex;


justify-content:center;


align-items:center;
background-image:
    linear-gradient(
        rgba(255,255,255,0.55),
        rgba(255,255,255,0.55)
    ),
    url("https://media.istockphoto.com/id/1331856494/photo/empty-notebook-for-writing-dreams-and-ideas-with-different-stat.jpg?s=612x612&w=0&k=20&c=Tnz8JkjQNU_Z5AHhNH_64h5OVpBB2RY8oi3Z_DrQzdg=");


    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;

padding:20px;


transition:.4s;


}




body.dark{


background:

linear-gradient(
135deg,
#111827,
#1f2937
);


}





.app{


width:450px;


background:#92f2f2;

backdrop-filter:blur(20px);



padding:30px;



border-radius:25px;

box-shadow:
0 20px 40px rgba(0,0,0,0.15);

}
/* 
box-shadow:

0 25px 50px rgba(0,0,0,.3);


} */





.top{


display:flex;


justify-content:space-between;


align-items:center;


color:rgb(82, 4, 4);


}




.top h1{


font-size:30px;


}

.logo-title{

display:flex;

align-items:center;

gap:15px;

}


.logo-title img{

width:80px;

height:80px;

border-radius:20px;


}


.logo-title h1{

font-size:35px;

color:#4b164c;

}


#theme{


border:none;


background:white;


font-size:20px;


padding:10px;


border-radius:50%;


cursor:pointer;


transition:.3s;


}



#theme:hover{


transform:rotate(20deg) scale(1.1);


}





.tag{


color:rgb(82, 2, 2);


text-align:center;


margin:15px 0 25px;


opacity:.8;


}





form{


display:flex;


gap:10px;


}





input{


flex:1;


padding:14px;


border:none;


outline:none;


border-radius:15px;


font-size:15px;


}


#time{


padding:12px;


border:none;


border-radius:12px;


outline:none;


}



.duration{


font-size:13px;


color:#777;


margin-top:5px;


}

form button{


background:#22c55e;


color:white;


border:none;


padding:14px 22px;


border-radius:15px;


cursor:pointer;


font-weight:bold;


transition:.3s;


}




form button:hover{


background:#16a34a;


transform:scale(1.05);


}






.stats{


margin:25px 0;


background:white;


padding:15px;


border-radius:18px;


display:flex;


justify-content:space-around;


color:#333;


font-weight:600;


}





.progress{


height:12px;


background:#ddd;


border-radius:20px;


overflow:hidden;


}





#bar{


height:100%;


width:0%;


background:

linear-gradient(
90deg,
#22c55e,
#4ade80
);



transition:.5s;


}





ul{


list-style:none;


margin-top:20px;


}





li{


background:white;


padding:15px;


border-radius:18px;


margin-bottom:12px;


display:flex;


justify-content:space-between;


align-items:center;


animation:slide .3s;


}





li span{


cursor:pointer;


color:#333;


font-size:16px;


}




li.done span{


text-decoration:line-through;


color:#9ca3af;


}




.delete{


background:#ef4444;


color:white;


border:none;


padding:8px 14px;


border-radius:12px;


cursor:pointer;


}




.delete:hover{


background:#dc2626;


}





#success-message{


display:none;


margin-top:20px;


background:#22c55e;


color:rgb(249, 244, 243);


padding:15px;


border-radius:18px;


text-align:center;


font-weight:600;


animation:pop .5s;


}




#success-message.show{


display:block;


}


#instruction{

text-align:center;

margin:15px 0;

color:rgb(232, 40, 43);

font-size:14px;

opacity:.9;

background:rgba(255,255,255,0.15);

padding:10px;

border-radius:15px;

animation:pulse 2s infinite;

}



@keyframes slide{


from{


opacity:0;


transform:translateY(20px);


}


to{


opacity:1;


transform:translateY(0);


}


}




@keyframes pop{


from{


transform:scale(.5);


opacity:0;


}


to{


transform:scale(1);


opacity:1;


}


}





@media(max-width:500px){


.app{


width:100%;


}


}